<section class="card">
  <div class="card-header">
    <h3 type="button" name="answer" value="Show Text Field" onclick="onButtonClick()">{{title}}</h3>
    <p>{{user.username}}</p>
  </div>
  <div class="card-body">
     <p>{{content}}</p>
  </div>
  <p class="hide" id="commentWord">Comment</p>
  <form class="form new-comment-form" data-post-id="{{post_id}}">
    <input class="hide" type="text" id="textInput" placeholder="Enter comment here" />
    {{!-- <input type="hidden" id="post_id" value="{{post_id}}"/> --}}
    <button type="submit" class="hide" id="submit">Submit</button>
  </form>
  <div class="card-footer">
  {{#each comments as |comment|}}
    <div>{{comment.body}}</div>
  {{/each}}
  </div>
</section>
